/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:aquamarine;
}
.container{
max-width: 1080px;
margin: 0;
}
header{
    height: 100px;
    background-color: aqua;
}
#hcont, .top-fixed{
    position: fixed;
    top:40px;
    left: 50%;
    transform: translate(-50%, 0);
}
#start{
    padding: 6px 6px;
    border-radius: 30px;
    background-color: blue;
    border: none;
    color: white;
}

#grid{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
}
#grid .cell10x10,#grid .cell{
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid .cell9x9{
    height: calc(100% / 9);
    width: calc(100% / 9);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid .cell7x7{
    height: calc(100% / 7);
    width: calc(100% / 7);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.azure{
    background-color: rgba(0, 128, 207, 0.808);
    color: white;
}